<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Meet the Talented Photo People</h1>
        <a href="/"><button>Home</button></a><br>
        <a href="/user/new"><button>New User</button></a>
  </header>
  <main>
    <ul>
      <% for(let i = 0; i < user.length; i++){ %>
         <li>
           <a href="/user/<%=user[i].id%>"><%=user[i].username %></a>
         </li>
      <% } %>

    </ul>
  </main>
</body>
</html>
